.faq-container {
    .header-icons {
        display: flex;
        gap: 5px;
        margin-left: 35px;
        font-size: 12px;
        align-items: center;
        font-weight: 100;
        justify-content: left;
        .home-icon {
            gap: 5px;
            display: flex;
            align-items: center;
            .home-label {
                font-size: 12px;
            }
        }
    }
    .progress-label {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
    .header-info {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .options-btn {
            position: absolute;
            left: 30px;
        }
        .help-info svg {
            width: 12px;
        }
    }
    .faq-themes {
        display: grid;
        border: 2px solid #C00405;
        border-radius: 6px;
        border-bottom: 0;
        margin: 25px 35px;
        position: relative;
        .option-menu {
            left: -37px;
            top: -51px;
        }
        .faq-theme {
            border-bottom: 2px solid #C00405;
            padding: 10px 0;
            .title svg {
                transition: ease-in .3s;
                rotate: calc(0deg);
            }
            .title {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-align: left;
                background: none;
                border: none;
                color: #000;
                font-weight: 600;
                font-size: 16px;
                &.active svg {
                    transition: ease-in .2s;
                    rotate: calc(180deg);

                }
            }
            .theme-paragraph {
                margin: 0 30px;
                text-align: left;
                font-size: 12px;
            }
        }
    }
}