.img {
    width: 70px;
}
.header-img-context {
    display: grid;
    gap: 10px;
    background: #fff;
    text-align: center;
    width: min-content;
    height: fit-content;
    .new-request-img,
    .my-requests-img,
    .my-user-img {
        cursor: pointer;

    }
    .header-img-name {
        background-color: #fff; 
        .name {
            margin: 0;
            font-size: 20px;
            font-weight: 900;
            text-transform: uppercase;
        }    
    }
    .header-img-description {
        .description {
            background-color: #fff;
            height: 100%;
            margin: 0;
            text-align: center;
            padding-top: 10px;
            font-size: 10px;
        }
    }
    &.my-user {
        width: 100%;
    }
}
.first-screen-container {
    .header-info {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        .header-info-title {
            width: calc(100% - 40%);
        }
        .help-info svg {
            width: 12px;
            
        }
        .options-btn {
            position: absolute;
            left: 30px;
        }
    }
    .table-info-content {
        display: flex;
        margin: 30px 0;
        position: relative;
        margin-bottom: 55px;
        justify-content: center;
        .info-content {
            display: flex;
            justify-content: center;
            gap: 25%;
            
        }
        
    }
}
