.home-container {
    .content {
        /* display: grid; */
        min-width: 275px;
        overflow: auto;
        .header-icon {
            background-color: rgba(122, 35, 35, 0.30)            ;
            height: 300px;
            .carousel {
                height: 100%;
                margin: 25px;
                .carousel-indicators {
                    display: flex;
                    margin: 0;
                    justify-content: center;
                    align-items: center;
                }
                .carousel-indicators button {
                    width: 6px;
                    opacity: 1;
                    background-color: #fff;
                    border-radius: 50%;
                    height: 6px;
                    &.active {
                        border-radius: 50%;
                        border: none;
                        background-clip: padding-box;
                        width: 6px;
                        height: 6px;
                        background: red;
                    }

                }
                .carousel-control-next {
                    width: auto;
                }
                .carousel-control-prev {
                    width: auto;
                    opacity: 1;
                    .carousel-control-prev-icon {
                        filter: none;
                        background-image: url('../../assets/arrow-left.svg')
                    }
                }
                .carousel-control-next {
                    opacity: 1;
                    .carousel-control-next-icon {
                        filter: none;
                        background-image: url('../../assets/arrow-right.svg')
                    }
                }
            }
        }
        .content-info {
            height: max-content;
            margin: 20px;
            text-align: center;
            display: grid;
            .title {
                justify-content: center;
                position: sticky;
                width: 100%;
                display: flex;
                font-size: 14px;
                font-weight: 900;
                padding: 20px 0px;
                padding-top: 0;
                .help-info {
                    background: none;
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    outline: none;
                    border: none;
                    font-size: 9px;
                    font-weight: 900;
                    text-transform: uppercase;
                }
                .help-info svg {
                    width: 12px;
                }
            }
            .theme {
                background-color: #fff;
                height: 100%;
                border-radius: 8px;
                display: grid;
                border: 2px solid #F00;
                .theme-img {
                    .img {
                        width: 100%;
                        border-radius: 8px;
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
                .theme-description {
                    font-size: 12px;
                    margin: 15px;
                    border-radius: 8px;
                }
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
    .footer {
        display: grid;
        .redirect-buttons {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            gap: 30px;
            .consult-request,
            .common-questions {
                background-color: #DD0301;
                text-align: center;
                text-decoration: none;
                border: none;
                font-size: 12px;
                color: #fff;
                padding: 12px;
                border-radius: 6px;
                transition: ease-out .2s;
                opacity: .6;
                &:hover {
                    transition: ease-out .2s;
                    opacity: 1;
                }
            }

            .consult-request a,
            .common-questions a {
                color: #fff;
                font-size: 12px;
                text-decoration: none;
            }
        }
        .back-to-top {
            display: flex;
            justify-content: right;
            margin: 25px;
            align-items: center;
            font-size: 10px;
            cursor: pointer;
            gap: 5px;
            font-size: 10px;
            .logo {
                width: 20px;
            }
        }
    }
}