.home-container {
    .content {
        /* display: grid; */
        min-width: 275px;
        overflow: auto;
        .header-icon {
            .header-banner-img {
                width: 100%;
                height: 100%;
            }
            height: 300px;
            .carousel {
                height: 100%;
                .carousel-indicators {
                    display: flex;
                    margin: 0;
                    bottom: 35px;
                    justify-content: center;
                    align-items: center;
                }
                .carousel-inner,
                .carousel-item {
                    height: 100%;
                }
                .carousel-indicators button {
                    width: 6px;
                    opacity: 1;
                    background-color: #fff;
                    border-radius: 50%;
                    height: 6px;
                    &.active {
                        border-radius: 50%;
                        border: none;
                        background-clip: padding-box;
                        width: 6px;
                        height: 6px;
                        background: red;
                    }
                }
                .carousel-control-next {
                    /* bottom: 35px; */
                    right: 10px;
                    width: auto;
                }
                .carousel-control-prev {
                    left: 10px;
                    /* bottom: 35px; */
                    width: auto;
                    opacity: 1;
                    .carousel-control-prev-icon {
                        filter: none;
                        background-image: url('../../assets/arrow-left.svg')
                    }
                }
                .carousel-control-next {
                    opacity: 1;
                    .carousel-control-next-icon {
                        filter: none;
                        background-image: url('../../assets/arrow-right.svg')
                    }
                }
            }
        }
        .content-info {
            height: max-content;
            margin: 20px;
            text-align: center;
            display: grid;
            .title {
                justify-content: center;
                position: relative;
                align-items: center;
                width: 100%;
                display: flex;
                font-size: 14px;
                font-weight: 900;
                padding: 20px 0px;
                padding-top: 0;
                .help-info {
                    background: none;
                    display: flex;
                    position: absolute;
                    cursor: pointer;
                    right: 10px;
                    align-items: center;
                    outline: none;
                    border: none;
                    gap: 5px;
                    color: #C00405;
                    font-size: 9px;
                    font-weight: 900;
                    text-transform: uppercase;
                    .help-info-btn {
                        background: none;
                        border: none;
                        color: #C00405;
                        margin: 0;
                        padding: 0;
                    }
                    .help-info-label {
                        cursor: pointer;
                    }
                }
                .help-info svg {
                    width: 12px;
                }
            }
            .theme {
                cursor: pointer;
                background-color: #fff;
                height: 100%;
                border-radius: 8px;
                display: grid;
                /* border: 2px solid #F00; */
                box-shadow: 0px 3px 10px -3px #0000006e;
                .theme-img {
                    .img {
                        width: 100%;
                        border-radius: 8px;
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
                .theme-description {
                    font-size: 12px;
                    margin: 15px;
                    border-radius: 8px;
                }
                transition: ease-in .2s;

                &:hover {
                    transition: ease-in .2s;
                    box-shadow: 0px 3px 10px -3px #000000f0;

                }
            }
        }
    }
    .footer {
        display: grid;
        .redirect-buttons {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            gap: 30px;
            .consult-request,
            .common-questions {
                background-color: #DD0301;
                text-align: center;
                text-decoration: none;
                border: none;
                font-size: 12px;
                color: #fff;
                padding: 12px;
                border-radius: 6px;
                transition: ease-out .2s;
                opacity: .6;
                &:hover {
                    transition: ease-out .2s;
                    opacity: 1;
                }
            }

            .consult-request a,
            .common-questions a {
                color: #fff;
                font-size: 12px;
                text-decoration: none;
            }
        }
        .back-to-top {
            display: flex;
            justify-content: right;
            margin: 25px;
            align-items: center;
            font-size: 10px;
            cursor: pointer;
            gap: 5px;
            font-size: 10px;
            .logo {
                width: 20px;
            }
        }
    }
}

.modal-sm {
    --bs-modal-width: inherit !important;
    justify-content: center !important;
}
.modal-content {
    width: auto !important;
    .modal-body {
        position: relative;
        padding: 0;
        margin: 0;
        .content {
            width: 1200px;
            padding: 40px;
            .title {
                color: #C00405;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 600;
            }
            .first-info {
                font-size: 12px;
                display: grid;

                gap: 30px;
                margin-top: 30px;
                .info-text p {
                    margin: 0 !important;
                }
            }
            .second-info {
                font-size: 12px;
                display: grid;
                gap: 30px;
                margin-top: 30px;
            }
        }
        .close-modal {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            color: red;
            .close-modal-btn {
                background: none;
                border: none;
                text-transform: uppercase;
                font-size: 12px;
                margin: 0;
                font-weight: 500;
                padding: 0;
                margin-top: 2px;
            }
        }
    }
}