hr {
    margin: 5px;
}
.login-container {
    text-align: center;
    margin-top: 5px;
    .logo {
        width: min-content;
        padding: 22px 0px;
        margin: auto;
        background-color: #808080;
    }
    .logo a {
        font-size: 14px;
        padding: 25px 50px;
        text-decoration: none;
        color: #000;
    }
    .login-content {
        display: grid;
        gap: 20px;
        .title {
            font-size: 18px;
            font-weight: 900;
        }
        .form-login {
            .title {
                font-size: 24px;
            }
            .form-field {
                text-align: left;
                display: grid;
                gap: 5px;
                justify-content: center;
            }
            .form-field label {
                font-weight: 900;
            }
            .form-field input {
                outline: none;
                color: #555555;
                text-transform: none;
                border-radius: 8px;
                border: 2px solid #555555;
                padding: 6px 16px;
            }
        }
        .register-account {
            font-size: 7px;
            display: flex;
            justify-content: center;
            gap: 125px;
        }
        .register-account a {
            text-decoration: none;
            color: #000;
            transition: ease-in-out .2s;

            &:hover {
                opacity: .7;
            }
        }
        .login-button {
            margin: auto;
            color: #fff;
            background: #555555;
            border: none;
            width: 280px;
            padding: 6px 16px;
            border-radius: 4px;
            opacity: .7;
            transition: ease-out .2s;
            &:hover {
                opacity: 1;
                transition: ease-out .2s;
            }
        }
        .google-login-info {
            display: flex;
            margin: auto;
            padding: 6px 18px;
            border-radius: 8px;
            cursor: pointer;
            border: 2px solid #555555;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            opacity: .7;
            transition: ease-out .2s;
            &:hover {
                opacity: 1;
                transition: ease-out .2s;
            }
        }
    }
}