.my-user-container {
    .header-info {
        position: relative;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        .options-btn {
            left: 30px;
            position: absolute;
        }
        .header-info-title {
            font-weight: 600;
        }
        .help-info svg {
            width: 12px;
        }
    }
    .navigation-context {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        margin-left: 35px;
        font-weight: 100;
        font-size: 12px;
        gap: 5px;
        .navitation-start {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .current span {
            font-weight: 500;
        }
    }
    .edit-user-info {
        margin: 0 35px;
        .header {
            display: flex;
            align-items: center;
            gap: 25px;
            margin: 15px 0;
            .preview-user-img {
                .user-picture {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    border: 4px solid #C00405;
                }
            }
            .preview-user-name {
                text-transform: uppercase;
                color: #C00405;
                margin-right: 50px;
            }
            .upload-user-img {
                .user-img-label {
                    background-color: #C00405;
                    color: #fff;
                    text-transform: uppercase;
                    padding: 6px 32px;
                    border-radius: 6px;
                    opacity: .7;
                    transition: ease-in .2s;
                    font-weight: 500;
                    cursor: pointer;
                    &:hover {
                        opacity: 1;
                        transition: ease-in .2s;
                    }
                }
                .user-img-file {
                    display: none;
                }
            }
        }
        .edit-form-info {
            text-align: left;
            display: grid;
            gap: 15px;
            margin: 15px 0px;
            .info-advice {
                font-size: 10px;
                font-weight: 300;
                text-transform: uppercase;
            }
            .title {
                text-transform: uppercase;
                color: #C00405;
                font-weight: 500;
                font-size: 20px;
            }
            .form-context-personal-information label,
            .form-context-patient-information label {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .form-context-personal-information {
                display: grid;
                gap: 15px;
                .input-context,
                .select-context {
                    width: 100%;
                    display: grid;
                    font-size: 12px;
                    gap: 5px;
                    .select-input {
                        border: 1px solid #C00405;
                        border-radius: 6px;
                        padding: 4px 12px;

                        display: flex;
                        justify-content: space-between;
                    }
                    .select-input select {
                        border: none;
                        outline: none;
                        background: none;
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        width: 100%;
                    }
                }
                .input-context {
                    width: max-content;
                    .input-text {
                        padding: 8px 12px;
                        outline: none;
                        border-radius: 6px;
                        border: 1px solid #C00405;
                        &::placeholder {
                            color: #000;
                        }
                    }
                }
                .name_cpf_date-birth_state_city,
                .gender_race_category_email,
                .gender_race,
                .category_email,
                .cpf_date-birth_state_city,
                .phone-type_phone-value,
                .owner,
                .phone-type_phone-value_owner-name,
                .cpf_date-birth,
                .state_city {
                    display: flex;
                    gap: 10px;
                    width: 100%;
                    align-items: center;
                }
                .name_cpf_date-birth_state_city {
                    justify-content: center;
                    .input-context.name {
                        width: 100%;
                    }
                    .cpf_date-birth_state_city {
                        width: 100%;
                    }
                }
                .phone-type_phone-value_owner-name {
                    .input-context {
                        width: 100%;
                    }
                }
            }
            .form-context-patient-information {
                display: grid;
                gap: 15px;
                .input-context,
                .select-context {
                    width: 100%;
                    display: grid;
                    font-size: 12px;
                    gap: 5px;
                    .select-input {
                        border: 1px solid #C00405;
                        border-radius: 6px;
                        padding: 4px 12px;

                        display: flex;
                        justify-content: space-between;
                    }
                    .select-input select {
                        border: none;
                        outline: none;
                        background: none;
                        -moz-appearance: none;
                        -webkit-appearance: none;
                        width: 100%;
                    }
                }
                .input-context {
                    width: 100%;
                    .input-text {
                        padding: 8px 12px;
                        outline: none;
                        border-radius: 6px;
                        border: 1px solid #C00405;
                        &::placeholder {
                            color: #000;
                        }
                    }
                }
                .accept-use-my-data {
                    display: flex;
                    align-items: center;
                }
                .type-coagulopathy_severity-coagulopathy_location-treatment-center,
                .pcd_which_accept-use-my-data,
                .pcd_whick,
                .accept-use-data {
                    display: flex;
                    gap: 10px;
                    width: 100%;
                    align-items: center;
                }
                .pcd_which_accept-use-my-data {
                    .accept-use-my-data {
                        margin-top: 25px;
                    }
                }
            }
            .save-changes {
                display: flex;
                margin: 35px 0;
                justify-content: center;
                align-items: center;
                .save-changes-btn {
                    text-transform: uppercase;
                    color: #fff;
                    background-color: #D93C3C;
                    padding: 12px 24px;
                    border: none;
                    border-radius: 6px;
                    opacity: 1;
                    transition: ease-in .2s;
                    font-weight: 500;
                    &:hover {
                        opacity: .7;
                        transition: ease-in .2s;
                    }
                }
            }
            .back-to-top {
                font-size: 10px;
                display: flex;
                align-items: center;
                justify-content: right;
                gap: 5px;
                .logo {
                    width: 20px;
                }
            }
        }
    }
}