.recovery-password-container {
    margin: 0 35px;
    margin-bottom: 25px;
    display: grid;
    justify-content: center;
    .title {
        text-align: center;
        font-size: 19px;
        text-transform: uppercase;
        padding-bottom: 15px;
        border-bottom: 1px solid #cecece;
    }
    .recovery-password-context {
        margin-top: 15px;
        .form-data {
            display: grid;
            justify-content: center;
            gap: 15px;
            width: min-content;
            .input-context label {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
            }
            .input-context {
                text-transform: uppercase;
                display: grid;
                font-size: 14px;
                gap: 5px;
                .input-text {
                    text-transform: uppercase;
                    padding: 8px 12px;
                    width: 400px;
                    outline: none;
                    border-radius: 6px;
                    border: 1px solid #C00405;
                    &::placeholder {
                        color: #000;
                    }
                }
            }
            .submit-button {
                margin: auto;
                color: #fff;
                background: #C00405;
                border: none;
                width: 200px;
                padding: 6px 16px;
                border-radius: 8px;
                transition: ease-out .2s;
                &:hover {
                    opacity: .5;
                    transition: ease-out .2s;
                }
            }
        }
    }
}