.screens-container {
    position: relative;
    min-width: 300px;
    height: 100%;
    display: grid;
}
.link-rodape {
    text-decoration: none;
    color: black;
    &:hover {
        text-decoration: underline;
    }
}