.see-completed-manifest {
    .see-completed-manifests-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .back-btn-context {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 20px;
            border-radius: 4px;
            width: fit-content;
            padding: 5px 12px;
            border: 2px solid #C00405;
            color: #C00405;
            .back-btn {
                background: none;
                border: none;
                color: #C00405;
                font-size: 14px;
                text-transform: uppercase;
            }
            transition: ease-in .2s;
            &:hover {
                opacity: .6;
            }
        }
        .manifest-type {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 35px;
            .manifest-type-context {
                display: grid;
                gap: 10px;
                .icon-imgs {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    .img-icon {
                        width: 30px;
                        position: absolute;
                        &.arrow-icon {
                            z-index: 1;
                            width: 20px;
                        }
                    }
                }
                .type-label {
                    color: #969696;
                    font-size: 12px;
                    &.passed {
                        color: #C00405;
                    }
                    &.active-label {
                        color: #6EC501
                    }
                }
            }
            .line-marker {
                width: 100px;
                height: 2px;
            }
        }
    }
    .manifest-content {
        display: grid;
        text-align: left;
        gap: 15px;
        margin: 35px 0;
        .requester-name {
            .name {
                font-weight: 500;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
        .more-info-about-user {
            .more-info-btn {
                background-color: #DE5353;
                color: #fff;
                border: none;
                border-radius: 8px;
                padding: 6px 22px;
                text-transform: uppercase;
                font-size: 14px;
                transition: ease-in .2s;
                &:hover {
                    transition: ease-in .2s;
                    opacity: .8;
                }
            }
        }
        .protocol_manifest {
            font-size: 12px;
            text-transform: uppercase;
            display: flex;
            gap: 130px;
            .protocol,
            .manifest {
                display: grid;
                height: fit-content;
                gap: 10px;
                &.title {
                    font-weight: 600;
                }
            }
            .protocol .protocol-number,
            .manifest .manifest-title {
                font-weight: 600;
            }
        }
        .answer-manifest {
            background-color: #F0F0F0;
            border-radius: 4px;
            font-size: 12px;
            text-transform: uppercase;
            .answer-manifest-header {
                gap: 35px;
                display: flex;
                width: 100%;
                padding: 15px 20px;
                border-bottom: 2px solid #C00405;
                .wait-analize {
                    display: grid;
                    gap: 10px;
                    .wait-analize-title {
                        font-weight: 600;
                    }
                }
                .wait-analize-message {
                }
            }
            .answer-context {
                display: flex;
                gap: 115px;
                padding: 15px 20px;
                .answer-context-info {
                    gap: 10px;
                    height: fit-content;
                    display: grid;
                    .answer-context-title {
                        font-weight: 600;
                    }
                }
                .answer-value-textarea {
                    width: 100%;
                    .answer-value {
                        resize: none;
                        width: 100%;
                        padding: 4px 12px;
                        min-height: 100px;
                        border: none;
                        outline: none;
                        border-radius: 4px;
                        &::placeholder {
                            text-transform: uppercase;
                            color: #000;
                        }
                    }
                }
            }
            .send-response {
                display: flex;
                justify-content: right;
                padding: 15px 20px;
                padding-top: 0;
                .send-response-btn {
                    color: #fff;
                    background-color: #DE5353;
                    border-radius: 8px;
                    border: none;
                    outline: none;
                    transition: ease-in .2s;
                    font-size: 14px;
                    padding: 5px 60px;
                    text-transform: uppercase;
                    &:hover {
                        transition: ease-in .2s;
                        opacity: .8;
                    }
                }
            }
        }
        
        .service-evaluation {
            background-color: #D93C3C;
            color: #fff;
            border-radius: 10px;
            display: flex;
            align-items: center;
            .service-evaluation-title {
                font-size: 16px;
                font-weight: 500;
                text-align: center;
            }
            .service-evaluation-context {
                border-left: 2px solid #fff;
                padding: 20px;
                display: flex;
                align-items: center;
                width: 100%;
                .questions {
                    font-size: 12px;
                    display: grid;
                    gap: 10px;
                    .question {
                        text-transform: uppercase;
                        width: min-content;
                        &.first-question {
                            min-width: 126px;
                        }
                        &.second-question {
                            min-width: 159px;
                        }
                        &.third-question {
                            min-width: 172px;
                        }
                    }
                }
                .responses {
                    display: grid;
                    gap: 35px;
                    .response {
                        text-transform: uppercase;
                        font-size: 11px;
                        width: max-content;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .form-check {
                            .form-check-input:disabled {
                                opacity: 1 !important;
                            }
                            .form-check-input:disabled~.form-check-label, .form-check-input[disabled]~.form-check-label {
                                opacity: 1 !important;
                            }
                        }
                    }
                }
                .send-service-evaluation {
                    .send-service-evaluation-btn {
                    
                        background-color: #fff;
                        border: none;
                        border-radius: 6px;
                        padding: 10px 20px;
                        color: #000;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 14px;
                        transition: ease-in .2s;
                        &:hover {
                            transition: ease-in .2s;
                            background-color: #ebebeb;
                        }
                    }
                }
            }
        }
    }
}