.nav-screens-container {
    background: #fff;
    padding: 20px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    padding-left: 0;
    justify-content: space-between;
    min-width: 300px !important;
    .logo-redirect a,
    .home-redirect a,
    .new-request-redirect a,
    .request-redirect a {
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
        font-size: 11px;
        transition: .1s ease-out;
        border-bottom: 1px solid #fff;
        &:hover {
            transition: .1s ease-out;
            border-bottom: 1px solid #DD0301;
        }
    }
    .search-content {
        background: transparent;
        border: 2px solid #DD0301;
        height: 100%;
        display: flex;
        width: 27%;
        padding: 3px 10px;
        border-radius: 4px;
        color: #000;
        justify-content: space-between;
        align-items: center;
        .search-field {
            background: none;
            text-align: center;
            border: none;
            font-size: 12px;
            width: 100%;
            outline: none;
            color: #000;
            &::placeholder {
                text-align: center;
                color: #000;
            }
        }
    }
    .options {
        display: flex;
        gap: 5px;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background-color: #FF0000;
        padding: 6px 12px;
        color: #fff;
        transition: .2s ease-in;
        .profile-picture {
            width: 40px;
        }
        .nav-item a {
            text-transform: uppercase;
        }
        &:hover {
            background-color: #dd0301b0;
            transition: ease-out .2s;
        }
    }
    .options svg {
        color: #fff;
    }
    .redirect-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}