.nav-screens-container {
    background: #DD0301;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    min-width: 300px !important;
    .logo-redirect a,
    .home-redirect a,
    .new-request-redirect a,
    .request-redirect a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        transition: .1s ease-out;
        border-bottom: 1px solid #DD0301;
        &:hover {
            transition: .1s ease-out;
            border-bottom: 1px solid #fff;
        }
    }
    .options {
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        background-color: #fff;
        padding: 6px 12px;
        transition: .1s ease-in;
        .nav-item a {
            text-transform: uppercase;
        }
        &:hover {
            background-color: #e8e8e8;
            transition: .1s ease-in;
        }
    }
    .redirect-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}